<!-- navbar  -->
<div class="movie">
    <nav>
        <h2 class="logo">Movies<span>Now</span></h2>
        <a class="homes" href="#"><span><--</span> Home</a>
        <!-- <button type="button" (click)="handleButtonClick()">return</button> -->
    </nav>
    <h2 class="heading">About</h2>
   <div class="container">
    <p class="text ">Welcome to our movie search website, where you can find information about your favorite movies and TV shows. Our goal is to provide a user-friendly platform for movie enthusiasts to discover new movies and TV shows and learn more about them.</p>
      <p class="text-1 fw-bolder">Our website is designed to help you find the perfect movie or TV show to watch. You can search for movies and TV shows by title, genre, actor, director, or even by keyword. We also provide recommendations based on your viewing history, so you can discover new movies and TV shows that you're sure to love.</p>
      <p class="fw-bolder">Our team of experts works hard to ensure that our website is up-to-date with the latest information about movies and TV shows. We strive to provide accurate and reliable information to our users, so they can make informed decisions about what to watch next.</p>
      <p class="fw-bolder">In addition to our search and recommendation features, we also provide reviews and ratings from users just like you. You can read reviews from other movie enthusiasts and leave your own ratings and reviews to share your thoughts on the movies and TV shows you've watched.</p>
      <p class="fw-bolder">Whether you're looking for reviews, ratings, or trailers, our website has everything you need to make your movie-watching experience even better. So start exploring and discover your next favorite movie or TV show today!</p>
   </div>

   <!-- footer works  -->
<footer class="container-f">
    <div className='copy fw-bolder text-white'> 
        &copy; All Right are Reserved &reg; by Dev's movies.com <i class="fa-solid me-2 fa-film fa-flip"> </i>
        </div>
</footer>
</div>

  

