
<section class="contact">
    <div class="container-b">
        <a class="btn" href="#"> Go back</a>
        <!-- <button type="button">Go back</button> -->
    </div>
    <div class="container">
      <h2 class="fa fa-solid">Contact Us</h2>
      <p>If you have any questions, feedback, or suggestions, feel free to get in touch with us. We'd love to hear from you!</p>
      <div class="contact-details">
        <div class="contact-item">
          <i class="fas fa-envelope"></i>
          <p>Email: aswindev2001@email.com</p>
        </div>
        <div class="contact-item">
          <i class="fas fa-phone"></i>
          <p>Phone: +91-021-562-6037</p>
        </div>
        <div class="contact-item">
          <i class="fas fa-map-marker-alt"></i>
          <p>Address: 321 Gold Street, kochi, India</p>
        </div>
      </div>
        <!-- footer works  -->
<footer class="container-f">
    <div className='copy fw-bolder'> 
        &copy; All Right are Reserved &reg; by Dev's movies.com <i class="fa-solid me-2 fa-film fa-flip"> </i>
        </div>
</footer>
    </div>
  </section>
  