/* *{
    background-color: black;
    height: 900px;
} */
/* .btn{
  width: 200px;
  padding: 1em 2em;
  border: 2.5px solid #ccc;
  background: #111;
  font-weight: 700;
  letter-spacing: 0.7px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  color: #ccc;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover{
  background: rgb(113, 255, 113);
  color: #000000;
}
.btn::before ,.btn::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  background: yellow;
  z-index: -1;
}
.btn::before{
  top: 0;
  left: 0;
  width: 0;
  -webkit-clip-path: polygon(0% 0%,75% 0%,100% 50%,75% 100%,0% 100%);
  clip-path: polygon(0% 0%,75% 0%,100% 50%,75% 100%,0% 100%);


}
.btn::after{
  bottom: 0;
  left: 0;
  width: 0;
  -webkit-clip-path : polygon(25% 0%,100% 1%,100% 100%,25% 100%,0% 50%);
  clip-path: polygon(25% 0%,100% 1%,100% 100%,25% 100%,0% 50%);
}
.btn:hover::before ,.btn:hover::after{
  width: 40%;
} */
.container-b{
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
a{
    color: rgb(10, 8, 8);
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}
div a:hover{
    color: rgb(248, 240, 240);
    transition: .2s;
}
.contact {
    position: relative;
    overflow: hidden;
  }
  
  .contact::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, blue, red);
    animation: gradientAnimation 10s ease infinite;
    z-index: -1;
  }
  
  /* @keyframes gradientAnimation {
    0% {
      transform: translate(-30%, -30%);
    }
    50% {
      transform: translate(30%, 30%);
    }
    100% {
      transform: translate(-30%, -30%);
    }
  } */
  
  .container {
    max-width: 800px;
    margin-bottom: 80px;
    margin-top: 100px;
    /* margin: 0 auto; */
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  h2 {
    justify-content: space-between;
    font-size: 5vw;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
  
  .contact-item i {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .contact-item p {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .container-f{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(13, 13, 15);
    font-size: larger;
    margin-left: 50px;
    margin-top: 50px;
}

  
