 <!-- Navigation-->
 <div class="container-1">
  <nav>
      <h2 class="logo">Movies<span>Now</span></h2>
      <ul>
          <li><a href="#">back to home</a></li>
      </ul>
  </nav>


 <div class="box">
 <section class="services">
    <div class="container">

      <h2 class="heading">Our Services</h2>

      <div class="service">
        <i class="fas fa-search text-danger"></i>
        <h3 class="heading-2 text-danger">Movie Search</h3>
        <p class="text-white fw-bolder">Search for your favorite movies and TV shows by title, genre, actor, director, or keyword. Our powerful search feature helps you find exactly what you're looking for.</p>
      </div>

      <div class="service">
        <i class="fas fa-star taxt-dark"></i>
        <h3 class="heading-3 taxt-dark">Recommendations</h3>
        <p class="text-white fw-bolder">Discover new movies and TV shows based on your viewing history and preferences. Our recommendation engine suggests personalized recommendations just for you.</p>
      </div>

      <div class="service">
        <i class="fas fa-comments text-success"></i>
        <h3 class="heading-4 text-success">Reviews and Ratings</h3>
        <p class="text-white fw-bolder">Read reviews from other movie enthusiasts and leave your own ratings and reviews. Share your thoughts and opinions on the movies and TV shows you've watched.</p>
      </div>

      <div class="service">
        <i class="fas fa-heart text-primary"></i>
        <h3 class="heading-5 text-primary">Favorites List</h3>
        <p class="text-white fw-bolder">Create your own favorites list and keep track of the movies and TV shows you love. Easily access your favorite content whenever you want.</p>
      </div>

      <div class="service">
        <i class="fas fa-clock text-warning"></i>
        <h3 class="heading-6 text-warning">Watchlist</h3>
        <p class="text-white fw-bolder">Build a personalized watchlist of movies and TV shows you want to watch. Keep track of upcoming releases and never miss out on the latest releases.</p>
      </div>

      <div class="service">
        <i class="fas fa-users text-white"></i>
        <h3 class="heading-7 text-white">User Community</h3>
        <p class="text-white fw-bolder">Join our user community and connect with other movie enthusiasts. Engage in discussions, share recommendations, and get inspired by fellow movie lovers.</p>
      </div>
    </div>
  </section>
</div>
</div>
  
